*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 100vh;
    background-color: #e3edf7;
}

.content{
    box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, .15), -6px -6px 10px -1px rgba(255, 255, 255, 0.7);
    width: 350px;
    border-radius: 15px;
    padding: 25px 30px;
}

.material-symbols-rounded{
    cursor: pointer;

}

/* Top Bar */
.top-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 18px;
}

.top-bar .material-symbols-rounded{
    font-size: 24px;
}

/* Image Wrapper */
.music-image{
    width: 230px;
    height: 230px;
    box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, .15), -6px -6px 10px -1px rgba(255, 255, 255, 0.7);
    border-radius: 50%;
    margin-top: 25px;
    padding: 7px;
}

.music-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.image-wrapper{
    display: flex;
    justify-content: center;
}

.music-titles{
    text-align: center;
    margin: 30px 0;
    color: #4d4d4d;
}

.music-titles .name{
    font-size: 19px;
}

.music-titles .artist{
    font-size: 17px;
    margin-top: 3px;
    opacity: 0.9;
}

/* Progress Bar */
.progress-details{
    width: 100%;
    height: 6px;
    border-radius: 15px;
    background-color: #ccc;
}

.progress-bar{
    width: 10%;
    height: inherit;
    border-radius: inherit;
    background-color: #0987f6;
    cursor: pointer;
    position: relative;
}

.progress-bar span{
    position: absolute;
    width: 12px;
    height: 12px;
    background-color: #0987f6;
    border-radius: inherit;
    transform: translateY(-25%);
    right: -5px;
    opacity: 0;
    transition: opacity 0.3s ease-out;
}

.progress-details:hover .progress-bar span{
    opacity: 1;
}

/* Duration */
.time{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 2px;
    color: #4d4d4d;
}

/* Volume Slider */
.volume-slider{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}

.volume-details{
    width: 120px;               
    height: 6px;
    border-radius: 15px;
    background-color: #ccc;
    position: relative;
    cursor: pointer;
}

.volume-bar{
    width: 60%;               
    height: inherit;
    border-radius: inherit;
    background-color: #0987f6;
    position: relative;
}

.volume-bar span{
    position: absolute;
    width: 12px;
    height: 12px;
    background-color: #0987f6;
    border-radius: 50%;
    right: -5px;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0;
    transition: opacity 0.3s ease;
}

.volume-details:hover .volume-bar span{
    opacity: 1;
}

/* Control Buttons */
.control-btn{
    margin-top: 20px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
}

.control-btn span{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, .15), -6px -6px 10px -1px rgba(255, 255, 255, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #4d4d4d;
}

.control-btn span:active{
    box-shadow: inset 6px 6px 10px -1px rgba(0, 0, 0, .15), inset -6px -6px 10px -1px rgba(255, 255, 255, 0.7);
}

/* Media Query */
@media (max-width: 400px) {
    .content{
        width: 90%;
        padding: 20px;
        margin-top: 25px;
    }

    .music-image{
        width: 180px;
        height: 180px;
        padding: 5px;
    }

    .top-bar{
        font-size: 16px;
    }

    .top-bar .material-symbols-rounded{
        font-size: 22px;
    }

    .music-titles .name{
        font-size: 17px;
    }

    .music-titles .artist{
        font-size: 15px;
    }

    .volume-details{
        width: 90px;
    }

    .control-btn span{
        width: 40px;
        height: 40px;
    }

    .progress-bar span,
    .volume-bar span{
        width: 10px;
        height: 10px;
    }
}

@media (min-width: 401px) and (max-width: 768px){
    .content{
        width: 300px;
        padding: 20px;
        margin-top: 20px;
    }

    .music-image{
        width: 200px;
        height: 200px;
    }

    .top-bar{
        font-size: 17px;
    }

    .top-bar .material-symbols-rounded{
        font-size: 23px;
    }

    .music-titles .name{
        font-size: 18px;
    }

    .music-titles .artist{
        font-size: 16px;
    }

    .volume-details{
        width: 100px;
    }

    .control-btn span{
        width: 42px;
        height: 42px;
    }
}